Options -Indexes

RewriteEngine On
RewriteBase /raptorlearn/

# No reescribir archivos o carpetas que existen realmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo lo demás a index.php
RewriteRule ^(.*)$ index.php [QSA,L]